* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-evenly {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-start {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

body {
    background-color: #f1e9da;
    color: #94918b;

    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;

    height: 100vh;
    width: 100vw;
}

img {
    padding-bottom: 20px;
}

.carousel {
    width: 90%;
    aspect-ratio: 2 /1.25;
    background-color: #fff;
    border-radius: 8px;
    padding: 5px;
}

.viewbox {
    overflow-x: scroll;   
}

.controls:hover {
    cursor: pointer;
}
.prev-controls {
    font-size: 2em;
    text-align:right;
    padding: 0 5px 0 10px;
}

.next-controls {
    font-size: 2em;
    text-align: left;
    padding: 0 10px 0 5px;
}

#prev-one, #next-one {
    padding: 5px 8px;
    border-radius: 50%;
}

#prev-scroll, #next-scroll {
    padding: 8px 5px;
    border-radius: 50%;
}

#prev-one:hover, #next-one:hover, #prev-scroll:hover, #next-scroll:hover  {
    background-color: rgba(0, 255, 255, 0.1);
}
